<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<h1 id='h1'>Expenses</h1>
{% if msgs %}
    {% if categories %}
        <section class="categories">
            <form method='POST' autocomplete="off">
                {% for category in categories %}
                    <input class="checkbox" id="checkbox-{{category}}" type="checkbox" checked="True" name="category" value={{category}}>{{category}}<br>
                {% endfor %}
            </form>
        </section>
    {% endif %}
    <section class="expenses">
        {% for msg in msgs %}
            <article class="expense {{msg.category}}">
                <div class="upper-bar">
                    {{msg.date}}
                    <span class="category">{{msg.category}}</span>
                </div>
                <div class="lower-bar">
                    {{msg.description}}
                    <span class="amount">{{ msg.amount }}</span>
                </div>
            </article>
        {% endfor %}
    </section>

{% endif %}
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/static/js/homepage.js"></script>
</body>
</html>