<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
</head>
<body>
<h1 id='h1'>Expenses</h1>
{% if msgs %}
    {% if categories %}
        <section class="categories">
            <form method='POST' autocomplete="off">
                {% for category in categories %}
                    <span class="checkbox-span" id="checkbox-cat-{{category}}"><input class="checkbox" id="checkbox-{{category}}" type="checkbox" checked="True" name="category" value={{category}}>{{category}}</span><br>
                {% endfor %}
            </form>
            <span>
                <p>total = <span id='total'></span></p>
            </span>
            <p>Enter start date: <input type="text" id="datepicker"></p>
            <p>Enter end date: <input type="text" id="datepicker2"></p>
            <button id='filter-button' type="button">Filter by date</button>
        </section>
    {% endif %}
    <section class="expenses">
        {% for msg in msgs %}
            <article class="expense {{msg.category}}">
                <div class="upper-bar">
                    <span class="date"> {{msg.date}}</span>
                    <span class="category">{{msg.category}}</span>
                </div>
                <div class="lower-bar">
                    {{msg.description}}
                    <span class="amount">{{ msg.amount }}</span>
                </div>
            </article>
        {% endfor %}
    </section>

{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="/static/js/homepage.js"></script>
</body>
</html>